{{ define "content" }}
<div class="container">
  <form action="/update_operations" method="post">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th class="font-weight-bold text-center">Тип</th>
        <th class="font-weight-bold text-center">Время ms</th>
      </tr>
      </thead>
      <tbody>
      {{ range .Operations }}
      <tr>
        <td class="font-weight-bold text-center">{{ .type }}</td>
        <td><input class="form-control" name="time_{{ .type }}" value="{{ .duration }}"></td>
      </tr>
      {{ end }}
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
</div>
{{ end }}